<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->

    <!-- define the dependency -->
<context:property-placeholder location="application.properties"></context:property-placeholder>
<bean id="myFortuneService" class="com.gb.springsamples.xmlconfiguration.SpringXmlConfigurationSample.HappyFortuneService">

</bean>

    <!--<bean id="myCoach"-->
          <!--class="com.gb.springsamples.xmlconfiguration.SpringXmlConfigurationSample.TrackCoach">-->
        <!--<constructor-arg name="fortuneService" ref="myFortuneService"></constructor-arg>-->
    <!--</bean>-->


    <!--scope="prototype"-->
    <bean id="myCoach" primary="true" class="com.gb.springsamples.xmlconfiguration.SpringXmlConfigurationSample.CricketCoach"
        init-method="customInit" destroy-method="customDestroy">
        <property name="fortuneService" ref="myFortuneService"></property>
        <property name="teamName" value="${teamName}"></property>
        <property name="emailAddress" value="${email}"></property>
        <!--<property name="teamName" value="Team India"></property>-->
        <!--<property name="emailAddress" value="meninblue@teamindia.com"></property>-->
    </bean>
    <bean id="myCoachBaseball"
        class="com.gb.springsamples.xmlconfiguration.SpringXmlConfigurationSample.BaseballCoach">
    </bean>


</beans>